---
## 📌 Project : 하루시작 프로젝트 다중데이터 혼잡도분석 종합  📌🔸🟦✅🆕🉐
## 📌 Description : 
    🔸 서울 교통공사 역별 일별 시간대별 승하차인원 정보
    [source link] (https://data.seoul.go.kr/dataList/OA-12921/F/1/datasetView.do#)
    
## 📌 Author : Forrest Dpark (분석 담당)
## 📌 Date : 2024.05.31 ~
## 📌 Detail : 
## 📌 Updates: 
    🟦 2024.06.02 pdg : 일별 데이터 정제 
        ✅ 기존 테스트 데이터 의 일별 데이터가 없는 부분 참고하여 일별 데이터 추출 및 데이터 칼럼 정제를 시작.
    🟦 2024.06.04 pdg : ppt 만들며 정리 
        ✅ 데이터 정제중 일부 프린트 결과 명확하게 수정함. 
        ✅ 마지막 테이블에 환승역수 관련 칼럼을 추가함. 
    🟦 2024.06.09 by pdg : 군자, 상봉 검색 오류 이슈 해결 
        ✅ 모듈 대체 할수잇는 코드 대체 
        ✅ 문제파악: station_info 를 만들때 역명 별로 역사코드를 하나씩만 지정되어서 환승역 은 저장이 안됬다. 
        따라서 군자역은 5호선 코드만 저장되고 7호선 코드는 지정되지 않아 나중에 테이블 머지할때 
        사라지게 된것!! 
        또한 상봉역 같은 경우 () 표시가 있었기에 최종테이블 검색 조건이 == 이어서 사라지게된것!!
        ✅ duplicate drop 사용하여 해결. 해결된 함수 모듈화 완료
    🟦 2024.06.10 by pdg : 08년도 부터 24년까지 데이터 추가 
        ✅ 관찰결과 엑셀데이터인 17,18,19 년도 자료는 칼럼이름이 unnamed 로 나와서 수정해야함. 
        ✅ 모든데이터 받는데 1분 30 초 걸림. 
    🟦 2024.60.12 by pdg : 데이터 년도 확장, 학습테이블 호선 데이터 확장. 
        ✅ dictionary 는 git 에 올리면 안됨 . 512 Mb 분량이어서 깃에서 에러가 터지면 다지워야함... git에 영향을 받지안토록 따로 보관하고 엑셀파일은 다 지우도록 하자.. 
        🆕 호선을 확장하는 작업도 해야함.
        🆕 모든역을 학습한 모델을 만들어도 좋지 않을까? -> 모든역에대한 예측을 하는 모델을 만들것. 
    * 2024.06.13 by pdg : 오류해결
        ✅ 역명 -> 역이름 , 역사번호 -> 역사코드

In [1]:
#### Jupyter Basic Setting ####
import pandas as pd,numpy as np
import matplotlib.pyplot as plt,seaborn as sns  # 시각화
import warnings; warnings.filterwarnings('ignore')  # 경고 무시
import sys,os 
parent_dir = os.path.dirname(os.getcwd())
sys.path.append(parent_dir)
from Module.Functions import *
# 기본 세팅
Service.plotSetting("seaborn-v0_8")

___## OS platform 한글 세팅완료 ## ___

In [2]:
## Data dictionary SAve 
# np.save("../Data/DataDictionary/subway_dict_test.npy",subway_dict_22_23) ## 99.8Mb
subway_dict_22_23 =np.load("../Data/DataDictionary/subway_dict_test.npy",allow_pickle=True).tolist()
subway_dict_22_23.keys()

def dataInfoPrint(data):
    Service.dataInfoProcessing(data)
    return data
for key in subway_dict_22_23.keys():
    subway_dict_22_23[key]=dataInfoPrint(subway_dict_22_23[key])
    print(f"{key.split('subway')[-1]}년도 데이터 ")
    subway_dict_22_23[key].head(3)

1. Data row/colum numbers : 98603/26

2. null ceck 결과 Null 없는 clean data!

3. Column  Information (중복체크)
	idx.columName |				 |Colum Info(dtype)|**
	 ----------------------------------------------------------------
	0.[연번(int64)]: 			98603/98603 [uniq/raw]
	1.[수송일자(object)]: 			181/98603 [uniq/raw]
	2.[호선(object)]: 			8/98603 [uniq/raw]
	3.[역번호(int64)]: 			279/98603 [uniq/raw]
	4.[역명(object)]: 			244/98603 [uniq/raw]
	5.[승하차구분(object)]: 			2/98603 [uniq/raw]
	 ...etc (추가로 20개의 칼럼이 있습니다 )
23_0년도 데이터

1. Data row/colum numbers : 165376/26

2. null ceck 결과 Null 없는 clean data!

3. Column  Information (중복체크)
	idx.columName |				 |Colum Info(dtype)|**
	 ----------------------------------------------------------------
	0.[연번(int64)]: 			165376/165376 [uniq/raw]
	1.[수송일자(object)]: 			304/165376 [uniq/raw]
	2.[호선(object)]: 			8/165376 [uniq/raw]
	3.[역번호(int64)]: 			272/165376 [uniq/raw]
	4.[역명(object)]: 			239/165376 [uniq/raw]
	5.[승하차구분(object)]: 			2/165376 [uniq/raw]
	 ...etc (추가로 20개의 칼럼이 있습니다 )
23_1년도 데이터

1. Data row/colum numbers : 50238/26

2. null ceck 결과 Null 없는 clean data!

3. Column  Information (중복체크)
	idx.columName |				 |Colum Info(dtype)|**
	 ----------------------------------------------------------------
	0.[연번(int64)]: 			50238/50238 [uniq/raw]
	1.[날짜(object)]: 			92/50238 [uniq/raw]
	2.[호선(object)]: 			8/50238 [uniq/raw]
	3.[역번호(int64)]: 			278/50238 [uniq/raw]
	4.[역명(object)]: 			244/50238 [uniq/raw]
	5.[구분(object)]: 			2/50238 [uniq/raw]
	 ...etc (추가로 20개의 칼럼이 있습니다 )
23_2년도 데이터

1. Data row/colum numbers : 199080/26

2. null ceck 결과 총 82346개의 null 이 있습니다!
   => 25번째.[24시이후]컬럼 :  null 82346 개,	 not null 116734 개

3. Column  Information (중복체크)
	idx.columName |				 |Colum Info(dtype)|**
	 ----------------------------------------------------------------
	0.[연번(int64)]: 			199080/199080 [uniq/raw]
	1.[수송일자(object)]: 			365/199080 [uniq/raw]
	2.[호선(int64)]: 			8/199080 [uniq/raw]
	3.[고유역번호(외부역코드)(object)]: 		558/199080 [uniq/raw]
	4.[역명(object)]: 			244/199080 [uniq/raw]
	5.[승하차구분(object)]: 			2/199080 [uniq/raw]
	 ...etc (추가로 20개의 칼럼이 있습니다 )
22년도 데이터

In [5]:

# 필수 항목 check 
# coloum check 
test = subway_dict_22_23['subway23_0']
print("columns ---👇")
print(test.columns.tolist())
# 호선, 역사번호,역명, 승하차구분
# 연번은 drop 한다. 
if '연번' in test.columns.tolist():
    print(" 1. 연번을 삭제합니다. ")
    test.drop('연번',axis=1,inplace = True)
    # print(test.columns)
# 역명 -> 역이름
if '역명' in test.columns.tolist() :
    print(' 2."역명" ->"역이름", "역번호"->"역사코드 ".')
    test.rename({
        '역번호':'역사코드',
        '역명':'역이름'}
        ,axis = 1
        ,inplace = True 
        )
# 역번호 -> 역사번호 

test

# 호선 데이터가 integer 인지 확인 
if str(test['호선'].dtype)=='object':
    print(' 3. 호선 데이터가 object 입니다. ')
    for idx,line in enumerate(test['호선'].unique()):
        print("   -",line)
        if idx==2:
            print(" ..")
            break
    line_int=[int(linename.split("호선")[0]) for linename in test['호선']]
    print(" 😀호선을 integer 로 만듭니다.")
    print(" 3-1. 호선 을 제거한 이름 unique : ",*np.unique(line_int),sep=", ")
    test['호선'] = line_int
    print(" ✅변경된 호선 칼럼의 data type :",test['호선'].dtype)
else : 
    print('3. 호선 데이터가 integer 입니다.')
    for idx,line in enumerate(test['호선'].unique()):
        print(" -",line)
        if idx==2:
            print(" ..")
            break
## null check -> 없다고 가정 
subway=Service.dataInfoProcessing(test,replace_Nan=True,nanFillValue=0 )
#역코드 개수 체크 -> 상관없음
stationInfo = Service.subway_info_table(
    subway,
    save=True,
    saveFileName='StationInfo_23_0'
    )
print(subway.iloc[:4,:6])
stationInfo

columns ---👇
['수송일자', '호선', '역사코드', '역이름', '승하차구분', '06시이전', '06-07시간대', '07-08시간대', '08-09시간대', '09-10시간대', '10-11시간대', '11-12시간대', '12-13시간대', '13-14시간대', '14-15시간대', '15-16시간대', '16-17시간대', '17-18시간대', '18-19시간대', '19-20시간대', '20-21시간대', '21-22시간대', '22-23시간대', '23-24시간대', '24시이후']
3. 호선 데이터가 integer 입니다.
 - 1
 - 2
 - 3
 ..

1. Data row/colum numbers : 98603/25

2. null ceck 결과 Null 없는 clean data!

3. Column  Information (중복체크)
	idx.columName |				 |Colum Info(dtype)|**
	 ----------------------------------------------------------------
	0.[수송일자(object)]: 			181/98603 [uniq/raw]
	1.[호선(int64)]: 			8/98603 [uniq/raw]
	2.[역사코드(int64)]: 			279/98603 [uniq/raw]
	3.[역이름(object)]: 			244/98603 [uniq/raw]
	4.[승하차구분(object)]: 			2/98603 [uniq/raw]
	5.[06시이전(int64)]: 			1471/98603 [uniq/raw]
	 ...etc (추가로 19개의 칼럼이 있습니다 )

             <<<지하철 역정보 테이블 함수 실행>>>

  |- 첫 수송일자 : 2023-01-01
  |- 마지막 수송일자 : 2023-06-30
[]는 값에러 0 으로 대체함
StationInfo_23_0으로 저장합니다.
         수송일자  호선  역사코드  역이름 승하차구분  06시이전
0  2023-01-01   1   150  서울역    승차    215
1  2023-01-01   1   150  서울역    하차    154
2  2023-01-01   1   151   시청    승차     48
3  2023-01-01   1   151   시청    하차     64

     역사코드    역이름  호선  환승역수
0     150    서울역   1     2
1     426    서울역   4     2
2     151     시청   1     2
3     201     시청   2     2
4     152     종각   1     1
..    ...    ...  ..   ...
274  2649     신내   6     1
275  2759  삼산체육관   7     1
276  2756    신중동   7     1
277  2755     춘의   7     1
278  2753    까치울   7     1

[279 rows x 4 columns]

In [4]:
station= pd.read_csv('../Data/StationInfo.csv')
subway_dispatch = pd.read_csv("../Data/지하철배차시간데이터/서울교통공사_서울 도시철도 열차운행시각표_20240305.csv", encoding='euc-kr')

for i in range(1,8):
    _ = Service.호선당서비스불가역이름추출(i,station, subway_dispatch)

[200]
[200]
⬇--2호선 서비스불가 역사코드 . 및 역사명--⬇
 1.200 까치산 역
--------------------
[1952, 1953, 1954, 1955, 1956, 1957, 1958, 1948, 1950, 1951]
[1952, 1953, 1954, 1955, 1956, 1957, 1958, 1948, 1950, 1951]
⬇--3호선 서비스불가 역사코드 . 및 역사명--⬇
 1.1958 대화 역
 2.1957 주엽 역
 3.1956 정발산 역
 4.1955 마두 역
 5.1954 백석 역
 6.1953 대곡 역
 7.1952 화정 역
 8.1951 원당 역
 9.1948 원흥 역
 10.1950 삼송 역
--------------------
[1450, 1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763]
[1450, 1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763]
⬇--4호선 서비스불가 역사코드 . 및 역사명--⬇
 1.1450 선바위 역
 2.1451 경마공원 역
 3.1452 대공원 역
 4.1453 과천 역
 5.1454 정부과천청사 역
 6.1455 인덕원 역
 7.1456 평촌 역
 8.1457 범계 역
 9.1458 금정 역
 10.1751 산본 역
 11.1763 수리산 역
 12.1752 대야미 역
 13.1753 반월 역
 14.1754 상록수 역
 15.1755 한대앞 역
 16.1756 중앙 역
 17.1757 고잔 역
 18.1758 초지 역
 19.1759 안산 역
 20.1760 신길온천 역
 21.1761 정왕 역
 22.1762 오이도 역
--------------------
[]
[]
[]
[]
[2754, 2755, 2756, 2759, 2760, 3762, 3763]
[2754, 2755, 2756, 2759, 2760, 3762, 3763]
⬇--7호선 서비스불가 역사코드 . 및 역사명--⬇
 1.3763 석남 역
 2.3762 산곡 역
 3.2760 굴포천 역
 4.2759 삼산체육관 역
 5.2756 신중동 역
 6.2755 춘의 역
 7.2754 부천종합운동장 역
--------------------